EXPO_PUBLIC_SUPABASE_URL=https://uvuwgxzlqzscjnuiffew.supabase.co/
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV2dXdneHpscXpzY2pudWlmZmV3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEwNTIyMjIsImV4cCI6MjA5NjYyODIyMn0.rxvDx7YpttLTgxR719RA4Phoxs_v8a1Hdfze8D3U0aQ
EXPO_PUBLIC_PROJECT_ID=uvuwgxzlqzscjnuiffew
